doctype html 
html 
    head 
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            title Natours | #{title}
            link(rel="shortcut icon", href="/img/favicon.png", type="image/x-icon")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")
            link(rel="stylesheet", href="/css/style.css")
    body 
        //HEADER
        include _header
        //CONTENT
        block content 
            h1 This is main page 
        //FOOTER
        include _footer

        block script 
            script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
            script(src="/js/login.mjs") 
            script(type="text/javascript" src="https://js.stripe.com/v3/")
            script(src="/js/stripe.mjs") 
            script(src="/js/autoCompleteSearch.mjs") 
            script(src="/js/filter.mjs") 
            script(src="/js/index.mjs") 



   
    